
body {
	text-align:center;
	background:url(img src="images/beachsunset.jpg" alt="beautiful picture of the sunset in cayman" title="Cayman Sunset">);
	background-size:cover;
	color:#fff;
	font-family:Helvetica, sans-serif;
}

#slogan {

	font-size:200px;
}